html {
    background-color: peachpuff;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: justify;
}

.imagen-01 {
    width: 250px;
    height: 200px;
    margin: 20px;
}

.contenido {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
}

